# Exploratory Data Analysis - Trips

In [1]:
# Import libraries
import pandas as pd
import psycopg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
import configparser
import matplotlib.pyplot as plt

In [2]:
parser = configparser.ConfigParser()
parser.read('../bikeshareDW_cred.conf')
host = parser.get("postgres_creds","host")
user = parser.get("postgres_creds","user")
password = parser.get("postgres_creds","password")

In [3]:
sslmode = "require"
dbname = "udacityproject"
conn_string = "host={0} user={1} dbname={2} password={3} sslmode={4}".format(host, user, dbname, password, sslmode)
conn = psycopg2.connect(conn_string)
conn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT);
print("Connection established")

cursor = conn.cursor()

Connection established

### Row counts

In [4]:
rowCounts = cursor.execute("SELECT COUNT(*) FROM trip;")
rowCounts = cursor.fetchall()

print("Row Count: {0}".format(rowCounts[0][0]))

Row Count: 4584921

### Look for missing values

In [5]:
rideNulls = cursor.execute("SELECT COUNT(*) FROM TRIP WHERE rideable_type IS NULL")
rideNulls = cursor.fetchall()
print("Rideable type null values: ",rideNulls)

startNulls = cursor.execute("SELECT COUNT(*) FROM TRIP WHERE start_at IS NULL")
startNulls = cursor.fetchall()
print("Start time null values: ",startNulls)

endedNulls = cursor.execute("SELECT COUNT(*) FROM TRIP WHERE ended_at IS NULL")
endedNulls = cursor.fetchall()
print("EndStart time null values: ",endedNulls)

startStationNulls = cursor.execute("SELECT COUNT(*) FROM TRIP WHERE start_station_id IS NULL")
startStationNulls = cursor.fetchall()
print("EndStart time null values: ",startStationNulls)

endStationNulls = cursor.execute("SELECT COUNT(*) FROM TRIP WHERE end_station_id IS NULL")
endStationNulls = cursor.fetchall()
print("EndStart time null values: ",endStationNulls)

riderNulls = cursor.execute("SELECT COUNT(*) FROM TRIP WHERE rider_id IS NULL")
riderNulls = cursor.fetchall()
print("EndStart time null values: ",riderNulls)

Rideable type null values:  [(0,)]
Start time null values:  [(0,)]
EndStart time null values:  [(0,)]
EndStart time null values:  [(0,)]
EndStart time null values:  [(0,)]
EndStart time null values:  [(0,)]

### Top 5 Starting Stations

In [6]:
topStartStations = cursor.execute("SELECT start_station_id, COUNT(*) FROM TRIP GROUP BY start_station_id ORDER BY COUNT(*) DESC LIMIT 10;")
topStartStations = cursor.fetchall()

for row in topStartStations:
    print(row)

('13022', 80344)
('LF-005', 46380)
('13300', 44672)
('13042', 42722)
('TA1308000050', 41604)
('13008', 40505)
('TA1307000039', 39346)
('KA1504000135', 35955)
('TA1308000001', 35704)
('KA1503000043', 32422)

### Top 10 Ending Stations

In [8]:
topEndStations = cursor.execute("SELECT end_station_id, COUNT(*) FROM TRIP GROUP BY end_station_id ORDER BY COUNT(*) DESC LIMIT 10;")
topEndStations = cursor.fetchall()

for row in topEndStations:
    print(row)

('13022', 81840)
('LF-005', 52641)
('13042', 43435)
('13300', 43151)
('TA1308000050', 41947)
('13008', 41766)
('TA1307000039', 38767)
('TA1308000001', 36192)
('KA1504000135', 35843)
('KA1503000043', 31960)

### Top 10 Rider ids

In [9]:
top10Rider = cursor.execute("SELECT rider_id, COUNT(*) FROM TRIP GROUP BY rider_id ORDER BY COUNT(*) DESC LIMIT 10;")
top10Rider = cursor.fetchall()

for row in top10Rider:
    print(row)

(53044, 1636)
(37388, 1584)
(21973, 1537)
(33748, 1529)
(14363, 1480)
(61581, 1433)
(5211, 1422)
(66814, 1398)
(67878, 1382)
(4193, 1367)

### Top 5 Routes

In [10]:
top5Routes = cursor.execute("SELECT start_station_id, end_station_id, COUNT(*) FROM TRIP GROUP BY start_station_id, end_station_id ORDER BY COUNT(*) DESC LIMIT 5;")
top5Routes = cursor.fetchall()

for row in top5Routes:
    print(row)

('13022', '13022', 13037)
('13300', '13300', 8571)
('13042', '13042', 6665)
('13008', '13008', 6446)
('13300', '13022', 5984)

In [11]:
# Disconnect
conn.commit()
cursor.close()
conn.close()